@font-face {
    font-family: 'Press Start 2P';
    src: url('/fonts/PressStart2P-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;

}

:root {
  --font-display: 'Press Start 2P', 'Courier New', monospace;
}

body {
  font-family: var(--font-display);
}